body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono';
    background: #f1f1f1;
}

body.inverted {
    background: #1f2328;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

body.inverted a,
body.inverted a:focus,
body.inverted a:hover {
    color: #f1f1f1;
}
